* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #f2f2f2;
	font-family: 'Alegreya Sans SC', sans-serif;
}

.mood {
	width: 90%;
	display: block;
	margin-left: 5%;
}

.mood:hover {
	cursor: pointer;
	border: 10px solid;
	border-color: yellow;

}

.styled-select  {
   background: transparent;
   text-align: center;
   margin-left: 5%;
   margin-bottom: 1%;
   width: 44%;
   color: purple;
   padding: 5px;
   font-size: 20px;
   line-height: 1;
   border: 1px solid #8c5eba;
   height: 34px;
}

.why, .submit {

  width: 44%;
  height: 34px;
  font-size: 20px;
  border: 1px solid #8c5eba;
  background-color: #f2f2f2;
}

.submit {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 2%
}

.submit:hover {
	background-color:#8c5eba;
	color:white;
	cursor: pointer;
}

.caret {
	font-size: 10px;
}

.title {
	font-family: 'Puritan', sans-serif;	font-size: 67px;
	margin-top: 2%;
	color: #8c5eba;
	text-align: center;
}

.key{
	margin-left: 0%;
  width: 90%;
	height: 28px;
	color: white;
	text-align: center;
	margin: 0 auto;
	line-height: 29px;
	font-weight: bold;
}

.hidden {
	display: none;
}

#description {
	width: 90%;
	height: 85px;
	margin: 0 auto;
	border: 1px solid #8c5eba;
	margin-bottom: 2%;
	color: grey;
	padding: 5px;
	overflow: scroll;
}

.left-col {
	display: inline-block;
	width: 40%;
}

.right-col {
	display: inline-block;
	width: 60%;
	float: right;
	margin-top: 2%;
}





