* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #f2f2f2;
	font-family: 'Alegreya Sans SC', sans-serif;
}

.mood {
	width: 90%;
	display: block;
	margin-left: 5%;
}

.mood:hover {
	cursor: pointer;
	border: 2px solid;
	border-color: yellow;

}

.styled-select  {
   background: transparent;
   text-align: center;
   margin-left: 5%;
   margin-bottom: 1%;
   width: 44%;
   color: purple;
   padding: 5px;
   font-size: 20px;
   line-height: 1;
   border: 1px solid #8c5eba;
   height: 34px;
}

.why, .submit {

  width: 44%;
  height: 34px;
  font-size: 20px;
  border: 1px solid #8c5eba;
  background-color: #f2f2f2;
}

.submit {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 2%
}

.submit:hover, .logout:hover {
	background-color:#8c5eba;
	color:white;
	cursor: pointer;
}

.caret {
	font-size: 10px;
}

.title {
	font-family: 'Puritan', sans-serif;	font-size: 67px;
	margin-top: 2%;
	color: #8c5eba;
	text-align: center;
}

.key{
	margin-left: 0%;
  width: 90%;
	height: 28px;
	color: white;
	text-align: center;
	margin: 0 auto;
	line-height: 29px;
	font-weight: bold;
}

.hidden {
	display: none;
}

#description {
	width: 90%;
	height: 85px;
	margin: 0 auto;
	border: 1px solid #8c5eba;
	margin-bottom: 2%;
	color: grey;
	padding: 5px;
	overflow: scroll;
}

.left-col {
	display: inline-block;
	width: 40%;
}

.right-col {
	display: inline-block;
	width: 60%;
	float: right;
	margin-top: 2%;
}

.logout {
	position: fixed;
	top: 10px;
	background-color: #f2f2f2;
	border: none;
	color: #8c5eba;
	left: 10px;
	border: 1px solid #8c5eba;
	padding: 2px;
}


@keyframes logincolors {
    0% 		{background-color: #ccb8e0;}
    50% 	{background-color: #4c2e6b;}
    100% 		{background-color: #ccb8e0;}
}

/* The element to apply the animation to */
.login-body {
    width: 100%;
    height: 100vh;


    animation-name: logincolors;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}


.login-container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}


.login-title {
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px black;
}

.login-text , .login-submit {
	width: 40%;
	height: 40px;
	font-size: 30px;
	margin-bottom: 3%;
}

.login-submit {
	height: 40px;
	border: none;
	background-color: transparent;
	color: white;
	text-shadow: 2px 2px black;
}

.login-submit:hover {
	color: lightblue;
	cursor: pointer;
}


